.header {
  background-color: #24292e;
}
.login-wrap {
  background: rgb(43, 49, 55);
}
.plugins-tips {
  background: #eef1f6;
}
.plugins-tips a {
  color: #20a0ff;
}
.pure-button {
  background: #20a0ff;
}
